In [1]:
#pip install git+https://github.com/JustAnotherArchivist/snscrape.git
#https://github.com/JustAnotherArchivist/snscrape/blob/master/snscrape/modules/twitter.py

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
maxTweets = 10000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:ZelenskyyUa').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, 
                         tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.lang])
    
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 
                                                 'Like Count', 'Reply Count', 'Retweet Count', 'Language'])

# Display first 5 entries from dataframe
tweets_df1.to_csv('ZelenskyyUa_tweets.csv')

In [3]:
df = pd.read_csv('ZelenskyyUa_tweets.csv')
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Like Count,Reply Count,Retweet Count,Language
0,0,2022-02-27 23:34:10+00:00,1498079039235502081,Also had a phone conversation with @vonderleye...,ZelenskyyUa,57452,2222,7335,en
1,1,2022-02-27 23:34:05+00:00,1498079017328648197,–¢–∞–∫–æ–∂ –ø—Ä–æ–≤—ñ–≤ —Ç–µ–ª–µ—Ñ–æ–Ω–Ω—É —Ä–æ–∑–º–æ–≤—É –∑ @vonderleyen....,ZelenskyyUa,12252,410,1307,uk
2,2,2022-02-27 23:25:42+00:00,1498076908860456964,Talked to üá¨üáß Prime Minister @BorisJohnson and ...,ZelenskyyUa,89891,1887,10925,en
3,3,2022-02-27 23:25:36+00:00,1498076881995898885,–ü–æ–≥–æ–≤–æ—Ä–∏–≤ —ñ–∑ –ü—Ä–µ–º'—î—Ä-–º—ñ–Ω—ñ—Å—Ç—Ä–æ–º üá¨üáß @BorisJohnso...,ZelenskyyUa,16665,449,1861,uk
4,4,2022-02-27 22:56:21+00:00,1498069523467051008,"Thank you for the warm conversation, Your All-...",ZelenskyyUa,69747,1922,6880,en

In [4]:
min(df['Datetime'])

'2019-04-25 11:46:08+00:00'

In [5]:
maxTweets = 10000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:KremlinRussia_E').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, 
                         tweet.likeCount, tweet.replyCount, tweet.retweetCount, tweet.lang])
    
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 
                                                 'Like Count', 'Reply Count', 'Retweet Count', 'Languages'])

# Display first 5 entries from dataframe
tweets_df1.to_csv('KremlinRussia_E_tweets.csv')

Could not find card URL in tcooutlinks

In [6]:
df = pd.read_csv('KremlinRussia_E_tweets.csv')
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Like Count,Reply Count,Retweet Count,Languages
0,0,2022-02-27 17:54:45+00:00,1497993622326759446,#Moscow: Vladimir Putin visited the constructi...,KremlinRussia_E,6802,5900,880,en
1,1,2022-02-27 17:40:39+00:00,1497990075195531264,Vladimir Putin met with Defence Minister Serge...,KremlinRussia_E,3942,2509,637,en
2,2,2022-02-27 15:35:43+00:00,1497958634000719875,Telephone conversation with Prime Minister of ...,KremlinRussia_E,2754,2259,409,en
3,3,2022-02-27 12:36:51+00:00,1497913619962548226,The President congratulated Special Operations...,KremlinRussia_E,4889,4196,561,en
4,4,2022-02-26 18:57:59+00:00,1497647148019728394,Telephone conversation with Prime Minister of ...,KremlinRussia_E,4648,8931,541,en

In [7]:
min(df['Datetime'])

'2010-11-29 09:51:32+00:00'